span{
  color: black
}
body{
  background-image: url("https://www.hdwallpapers.in/walls/digital_space_universe_4k_8k-wide.jpg");
	 height: 50%; 

    /* Efeito parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.relative{
  position: relative;
  right: 30px;
  border: 3px solid #73AD21;
}

form {
	color: pink;
	font-size: 1.5em;
}

label {
  
    display: inline-block;
    width: 150px;
    text-align: right;
}

input, textarea {
   
    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}

textarea {
   
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
