form {
  
    margin: 0 auto;
    width: 400px;
 
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
  
    display: inline-block;
    width: 100px;
    text-align: right;
}
input, textarea {
   
    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}
input:focus, textarea:focus {
   
    border-color: #000;
}
textarea {
   
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button {
   
    padding-left: 90px;
}
button {
    
    margin-left: .5em;
}
html{
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/12/15/196208/db243fd17963767a512cc1b1e56ed8f9-500.jpg");
     height: 50%; 

    /* Efeito parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}